################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCdemo/.vs/MVCdemo/v16
/MVCdemo/MVCdemo/obj
/SQLharj/.vs/SQLharj/v16
/SQLharj/SQLharj/obj
/MyDB/.vs/MyDB/v16/Server/sqlite3
/MyDB/.vs/MyDB/v16
/MyDB/MyDB/obj
/CsharpTreenia/.vs/CsharpTreenia/v16
/SQL_BCharj/.vs/SQL_BCharj/v16
/MyDB2/.vs/MyDB2/v16
/db-app/.vs
