################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCdemo/.vs/MVCdemo/v16
/MVCdemo/MVCdemo/obj
/SQLharj/.vs/SQLharj/v16
/SQLharj/SQLharj/obj
