@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-3">
            <h2>Code Bootcamp</h2>
            <ul>
                <li>Linkki kurssin sivuille</li>
                <li>Tavoite</li>
                <li>Logo?</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Harjoituksia</h2>
            <ul>
                <li>Asp.Net MVC-Sivuston rakentaminen</li>
                <li>Tietokannan luominen</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Tietokanta</h2>
            <ul>
                <li>Suunnitelma</li>

            </ul>
        </div>

    </div>
