@{
    ViewData["Title"] = "Index";
}

<h2>Suunnitelma</h2>

<h1>ASP.NET MVC:n käyttöharjoituksia</h1>

<ul>
    <li>Tämän sivun luonti</li>
    <li>Sivun sisällön muokkaus:</li>
    <ul>
        <li>Tekstin tuottaminen</li>
        <li>Listan kirjoittaminen ja alalistan kirjoittaminen</li>
        <li>Listan tyylittely</li>
    </ul>
    <li>Kuvan lisääminen</li>
        <ul>
            <li>Kuvan koon määrittäminen sivun leveyden mukaan (85%)</li>
        </ul>
    <li>linkin lisääminen</li>
    <li>Sivun lisääminen navigointiin</li>
    <li>Templaattien käyttö?</li>
    <li>Osoiterivin käyttö <a href="https://localhost:44392/Harj/Welcome?name=Ihana&numtimes=6">sivun</a> sisällössä</li>
    <li>Sivuston ulkonäön muokkaus</li>
        </ul>
        <li>site.css-tiedoston käyttö</li>
        <li>Sivuston taustavärin muuttaminen</li>
        <li>Fonttien määrittely</li>
        <ul>
</ul>

<img src="~/images/Schema.png" width="85%" />




