@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>SQL Demo</h1>
    <p style="color: gray">
        Easier said than done: database first web application with ASP.NET MVC. 
    </p>
</div>

<div class="col-md-4">
    <h2>UI</h2>
    <p>
        These demo pages have been built with ASP.NET Core.
    </p>
</div>

<div class="col-md-4">
    <h2>Solution</h2>
    <p>
        The Solution is based on ASP.NET Core MVC and SQL server.
    </p>
</div>

<div class="col-md-4">
    <h2>SQL Data Source</h2>
    <p>
        <a href="https://www.fimea.fi/laakehaut_ja_luettelot/perusrekisteri">Finnish Drug Registry</a>
    </p>
</div>
