@{
    ViewData["Title"] = "Home Page";
}
    <h1>Northwind-tietokannasta harjoitusnäkymiä</h1>
<h2>
   Asiakkaiden lukumäärä: @ViewBag.AsiakkaidenLkm
</h2>

<p></p>

<table>
    <thead>
        <tr>
            <th>Yrityksen nimi</th>
            <th>Kontaktihenkilö</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SQL_BCharj.Models.Customers asiakas in ViewBag.KaikkiAsiakkaat)
        {
            <tr>
                <td>@asiakas.CompanyName</td>
                <td>@asiakas.ContactName</td>
            </tr>
        }
    </tbody>
    </table>

        
