@page
@model SQLharj.Pages.AboutModel
@{
    ViewData["Title"] = "Tilastot";
}
<h2>@ViewData["Title"]</h2>

<table>
    <tr>
        <th>
            ATC Group
        </th>
        <th>
            Tuotteet
        </th>
    </tr>

    @foreach (var item in Model.Tuote)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tuote)
            </td>
            <td>
                @item.TuoteCount
            </td>
        </tr>
    }
</table>