@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Lääkevalmisteet</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teitokantaharjoitus</h2>
        <p>
            Tämä on Entity Framework Core harjoitus SQL-tietokannalla
            ASP.NET Core Razor Pages web app -ratkaisulla.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tutoriaaliharjoitus</h2>
        <p>Harjoitus pohjautuu Microsoftin Contoso University -tutoriaaliin</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                Tutustu tutoriaaliin &raquo;
            </a>
        </p>
    </div>
</div>
